# for those not using vscode

[*.{sh,bash}]
  indent_style = tabs
  indent_size = 4

shell_variant      = bash
binary_next_line   = false 
switch_case_indent = true 
space_redirects    = true 
keep_padding       = true 
function_next_line = false
